@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hina Mincho", serif;
}
body {
  background-color: ghostwhite;
}

/*====================================== header-area-start==================== */

.logo a span {
  font-size: 40px;
  font-weight: Bolder;
  color: red;
  font-family: poppins;
  margin-left: 60px;
  letter-spacing: 2px;
  text-decoration: None;
}
.nav-link {
  color: #514983;
}
.nav-link:hover {
  border-bottom: 1px solid orange;
  font-weight: 900;
}
.logo a:hover {
  color: skyblue;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}

.font-family {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/*====================================== header-area-end==================== */

a {
  text-decoration: none;
}
/* =============================contact-area-start============================== */
.topbar {
  background-color: whitesmoke;
  margin: 5rem;
  border-radius: 10px;
}
.contact-area {
  width: 100vw;
  height: 100vh;
  background-color: ghostwhite;
  position: relative;
}

.heading h1 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 3px;
}
.tittle {
  margin-left: 10rem;
  font-size: 1.5rem;
  margin-top: 5rem;
}
.input-group {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  border: 1px solid #ddd;
}
.input-group input {
  width: 600px;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background-color: ghostwhite;
  font-weight: bold;
}

.input-group .massage {
  width: 600px;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background-color: ghostwhite;
  font-weight: bold;
}
.input-group button {
  width: 600px;
  padding: 0.8rem 2rem;
  background-color: #f0a73e;
  border: none;
  border-radius: 15px;
  color: #111;
  font-weight: bold;
  font-size: 1.2rem;
}
.input-group button:hover i {
  transform: translateX(5px);
  transition: all 0.4s ease-in-out;
}

/* =============================contact-area-end============================== */
/* =============================fotter-area-start======================== */

footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
  position: fixed bottom;
}
.footer > * {
  flex: 1 100%;
}
.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
h2 {
  font-weight: 600;
  font-size: 17px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.footer-right {
  display: flex;
  flex-flow: row wrap;
}
.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a {
  color: #999;
}
.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.footer-left p {
  padding-right: 20%;
  color: #999;
}
.socials a {
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i:hover {
  background-color: orange !important;
}
.socials a i {
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }
  main {
    font-size: 55px;
  }
}
/* Footer ends */
