@import url("https://fonts.googleapis.com/css2?family=Anton&family=Hina+Mincho&family=Merienda:wght@700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
}

/* Header starts */
.container {
  width: 100vw;
  margin: 0;
  padding: 0;
}
/* top nav right */
.top_nav {
  margin-top: 10px;
  width: 100%;
  height: 65px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 0;
}

.top_nav .logo a {
  font-size: 40px;
  font-weight: Bolder;
  color: rgb(27, 27, 27);
  font-family: poppins;
  margin-left: 60px;
  letter-spacing: 2px;
  text-decoration: None;
}
.top_nav .logo a:hover {
  color: skyblue;
}
/* top nav center */
.top_nav .search_bar input[type="text"] {
  border: 1px solid #666666;
  padding: 5px 10px;
  outline: none;
  transition: all 0.5s linear;
  width: 700px;
  height: 50px;
  margin-top: 5px;
  border-radius: 50px;
}
/* top nav left */
.top_nav .icons ul {
  height: 45px;
  display: flex;
  justify-content: left;
  align-items: left;
  list-style-type: none;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  padding-left: 250px;
}
.top_nav .icons ul li a {
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bolder;
  margin: 5px;
  padding: 10px;
}
.top_nav .icons ul li a:hover {
  color: rgb(58, 58, 177);
}

header .bottom_nav {
  width: 100%;
  background: #f9f9f9;
  height: 45px;
  padding: 0 50px;
  text-decoration: none;
}

header .bottom_nav ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  padding: 20px;
}

header .bottom_nav ul li a {
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bolder;
  margin: 10px;
  padding: 20px;
}
header .bottom_nav ul li a:hover {
  color: rgb(58, 58, 177);
}

/* Header ends */

/* main area starts */

main > .picture {
  background-image: url("../img/ia_2000000600.jpg");
  margin: 10px;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
main > .picture p {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
  padding: 100px;
  background-repeat: no-repeat;
}
.second_section {
  margin-top: 50px;
  width: 100vw;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.second_section > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.third_section {
  margin-top: 50px;
  width: 100vw;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.third_section > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.fourth_section {
  margin-top: 50px;
  width: 100vw;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.fourth_section > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.fifth_section {
  margin-top: 50px;
  width: 100vw;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.l_1 {
  background-image: url("../img/ia_100000000171.jpg");
  padding: 20px;
  margin: 10px;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-repeat: no-repeat;
}
.l_2 {
  background-image: url("../img/ia_100000000162.jpg");
  padding: 20px;
  margin: 10px;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-repeat: no-repeat;
}

.l_1 p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  padding: 100px;
}
.l_2 p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  padding: 100px;
}
.main_fifth {
  display: flex;
}

/* 6th section start */
a {
  text-decoration: none;
}

body {
  background: ghostwhite;
}

.topbar a:nth-child(2) {
  text-decoration: underline;
  color: red;
}

.topbar {
  background-color: whitesmoke;
  margin: 5rem;
  border-radius: 10px;
}

/*======================================= news-area-strat============ */

/* top-section start */
.area-tittle h1 {
  font-weight: 900;
}

.btn-group button {
  border: 1px solid orange !important;
  width: 200px;
  text-align: left;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 20px;
  font-size: 1.3rem;
}

.dropdown-menu {
  width: 200px;
  border: none;
  border-radius: 10px;
}

.dropdown-item {
  font-size: 1.3rem;
}

.dropdown-item:hover {
  background-color: deepskyblue;
}

/* top-section end */

/* bottom-section-start */
.features {
  display: flex;
  margin-left: 200px;
  justify-content: space-around;
}
.features h3 {
  color: #4e4681;
  font-weight: 600;
}

.features p {
  color: dimgray;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 0;
  font-family: "Roboto";
  line-height: 2rem;
}

.red {
  font-size: 1.2rem;
  font-weight: 600;
}

.content-btn {
  background-color: orange;
  border-radius: 20px;
  border: none;
  padding: 0 1rem;
  text-align: center;
  color: #4e4681;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0;
}

/* bottom-section-end */

/* 6th section ends */

/* main area ends */

/* Footer starts */
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
  position: fixed bottom;
}
.footer > * {
  flex: 1 100%;
}
.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
h2 {
  font-weight: 600;
  font-size: 17px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.footer-right {
  display: flex;
  flex-flow: row wrap;
}
.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a {
  color: #999;
}
.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
}
.footer-left p {
  padding-right: 20%;
  color: #999;
}
.socials a {
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i {
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }
  main {
    font-size: 55px;
  }
}
/* Footer ends */
