@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho';
}

a {
    text-decoration: none;
}

body {
    background: ghostwhite;
}

.topbar a:nth-child(2) {
    text-decoration: underline;
    color: red;
   
}

.topbar {
    background-color: whitesmoke;
    margin: 5rem;
    border-radius: 10px;
}

/*======================================= news-area-strat============ */

/* top-section start */
.area-tittle h1 {
    font-weight: 900;
}

.btn-group button {
    border: 1px solid orange !important;
    width: 200px;
    text-align: left;
    padding: .5rem 1rem;
    background-color: transparent;
    border-radius: 20px;
    font-size: 1.3rem;
}

.dropdown-menu {
    width: 200px;
    border: none;
    border-radius: 10px;
}

.dropdown-item {
    font-size: 1.3rem;
}

.dropdown-item:hover {
    background-color: deepskyblue;
}

/* top-section end */


/* bottom-section-start */
.features h3 {
    color: #4e4681;
    font-weight: 600;
}

.features p {
    color: dimgray;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 0;
    font-family: 'Roboto';
    line-height: 2rem;
}

.red {
    font-size: 1.2rem;
    font-weight: 600;
}

.content-btn {
    background-color: orange;
    border-radius: 20px;
    border: none;
    padding: 0 1rem;
    text-align: center;
    color: #4e4681;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
}

/* bottom-section-end */
/*======================================= news-area-end============ */